#container {
    width: 50%;
    background-color: #6d6d6d;
    border: 1px solid;
    margin: auto;
    display: inline-flex;
}
#firstname {
    width: 100px;
    display: inline-block;
    margin-right: 10px;
    background-color: rgb(255, 255, 255);
}
#lastname {
    width: 100px;
    display: inline-block;
    background-color: rgb(255, 255, 255);
}